div{
background-color : #f0c5f4;
color: #5e5a81;
/* Start https://www.cursors-4u.com */  cursor: url(https://cur.cursors-4u.net/anime/ani-10/ani979.ani), url(https://cur.cursors-4u.net/anime/ani-10/ani979.png), auto !important; /* End https://www.cursors-4u.com */
border-radius: 0.5px;
border-color: #f0c5f4;
scrollbar-width: 3px;
scroll-behavior: smooth;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
}
img{
    border: 10px solid #5e5a81;
    border-radius: 10px;
    border-width: 10px;

}
h1{
    text-decoration: dotted;
}